$primary-color:#D52B27;
$second-color:#C8C8C8;
$third-color:#DCDCDC;
$notification-color:red;
$error:#D91111;
$warning:#FDFA29;
$done:#728C39;
$reset:#A69586;
$text-color:#444;
$color-text-1:#fff;
$dark-color:#000000;